:root {
    --def-transition-duration: .2s;
}


nav {
    z-index: 3;
    width: 1216px;
    font-family: "Averta Demo" !important;
    font-size: 16px;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3rem;
    position: relative;
    background-color: yellowgreen;
    /* border */
}

nav ul a {
    text-decoration: none;
    color: #A1A2A3;
    display: inline-block;
    padding: 1.5rem 0;
}

nav ul a:hover {
    color: #E8E8E8;
}

.has-submenu {
    position: relative;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;
}

/* .has-submenu::after {
    content: url('../icons/icon-arrow-down.svg');
    opacity: .6;
    height: 25px;
} */

.has-submenu:hover ul {
    display: block;
    transform: translateX(0rem);
    opacity: 1;
    visibility: visible;
}


.has-submenu ul {
    position: absolute;
    top: 100%;
    left: -2rem;
    background-color: #212224;
    border-radius: .5rem;
    padding: .5rem;
    display: block;
    z-index: 1000;
    transform: translateX(-1rem);
    opacity: 0;
    visibility: hidden;
    transition-duration: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
    transition-property: opacity, visibility, transform;

}

.has-submenu ul a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    min-width: 15rem;
    border-radius: .5rem;
}

.has-submenu ul a::after {
    content: url(../icons/icon-arrow-right.svg);
    height: 17px;
    opacity: 0;
}

.has-submenu ul a:hover {
    background-color: #2C2D2F;
    padding: 1rem 1.5rem;
}

.has-submenu ul a:hover::after {
    opacity: 1;
}

.has-submenu:hover::after {
    opacity: 1;
}

.has-submenu:hover>a {
    color: #E8E8E8;
}


nav ul a,
.has-submenu ul,
.has-submenu {
    transition-duration: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
}

nav ul {
    transition-property: transform;
    transition-duration: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
}

/* /////////////////////////////////////// */
.iconimg span {
    width: 14px;
    height: 14px;
    background-color: #0E49A5;
    display: block;
    content: "kdnfkn";
    border-radius: 50%;
}

.sidenav {
    width: 461px;
    /* margin-top: 30px; */
}