@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,600&family=Montserrat&family=Nunito&family=Schibsted+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,600&family=Montserrat&family=Mulish:wght@300&family=Schibsted+Grotesk:wght@600&display=swap');



body {
    background-color: #EBF2F7;

}

.posthead {
    width: 1000px;
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-direction: row;
    align-content: center;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.post-details {
    margin-top: 25px;
    width: 1000px;
    /* height: 50px; */
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.post-black {
    color: black;
}

nav>div>div:hover,
nav>div>.post-black:hover {
    color: rgb(0, 0, 0);
}

.posthead>div:nth-child(1) {
    grid-column: 2/5;
}

.posthead>div:nth-child(2) {
    color: rgba(10, 36, 99, 0.67);
}

label {
    display: block;
    line-height: 1.5rem;
    text-align: left;
    margin-bottom: 6px;

}

input,
select {
    border-radius: 6px;
    width: 324px;
    height: 36px;
    display: block;
    border: 2px solid#d5dbe0;
    margin-bottom: 6px;
}

select:active {
    border: none;
}

/* input{
    border: 1px solid#aaaaaa;
} */
.for-photo {
    margin-top: 15px;
    text-align: left;
    grid-column: 1/3;
}


/* FileInputExample.css */

.file-input-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 10px;
    border: 2px solid #3498db;
    color: #3498db;
    border-radius: 5px;
    overflow: hidden;
}

/* .file-input {
    width: 100px;
    height: 100px;
    background-color: rgba(10, 39, 99, 0.41);
    cursor: pointer;
} */

.add-image {
    width: 100px;
    height: 100px;
    background-color: rgba(10, 39, 99, 0.41);
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
}

.add-image > img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.add-image > input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
    opacity: 0;
}
.for-add-image{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    align-items: end;
}
.for-add-image > img{
    border-radius: 10px;
    width: 128px;
    width: 120px;
}